<table class="sneaker-show-table table-bordered col-5 mx-auto table-dark">
<thead>
  <tr>
    <th scope="col">ID #</th>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <th scope="col">Release Date</th>
  </tr>
</thead>
  <tbody>
    <tr>
      <th scope="row">{{sneaker.id}}</th>
      <td>{{sneaker.name}}</td>
      <td>{{sneaker.color}}</td>
      <td>{{sneaker.release_date}}</td>
    </tr>
  </tbody>
</table>
